@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo(a)!</h1><br>
    <h3>Clique na aba de <a href="https://pokemonmvc.azurewebsites.net/Pokemon">Pokemons</a> acima para uma lista informativa sobre<br>os 151 pokémons listados da primeira geração de Kanto!</h3>
    <br><br>
    <p>Esse site foi desenvolvido utilizando <a href="https://learn.microsoft.com/aspnet/core">.NET ASPNet Core da Microsoft</a>.<br>Para mais informações, acesse nosso <a href="https://pokemonmvc.azurewebsites.net/Home/Privacy">termo de privacidade</a></p>
</div>
