@{
    ViewData["Title"] = "Informativo e Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este site foi produzido e moldado em base das orientações do Professor Luiz Fernando V. da Silva,<br>que leciona a matéria de DS (Desenvolvimento de Sistemas) do Curso Técnico de Desenvolvimento de Sistemas da ETEC Prof. Horácio Augusto da Silveira.</p>
<p>Seu uso é livre afins informativos e educacionais, desenvolvido por <a href="https://github.com/MukaDeveloper">Samuel Bertoni Santos (Muka)</a>.</p>
